<div class="wrapper">
	<section class="mn-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="mn-vid-sc single_video">
						<div class="vid-1">
							<div class="vid-pr">
								<video
								    id="my-video"
								    class="video-js vjs-big-play-centered"
								    controls
								    preload="auto"
								    width="640"
								    height="264"
								
								    data-setup="{}"
								  >
                                  <source src="http://127.0.0.1:5000/static/qbl.mp4" type="video/mp4" />
		
								</video>
							</div><!--vid-pr end-->
							<div class="vid-info">
								<h3>千本樱： 古筝翻奏 ---  墨韵随步摇</h3>
								<div class="info-pr">
									<span>60,723,169 views</span>
									<div class="clearfix"></div>
								</div><!--info-pr end-->
							</div><!--vid-info end-->
						</div><!--vid-1 end-->
					</div><!--mn-vid-sc end--->
				</div><!---col-lg-9 end-->

			</div>
		</div>
	</section><!--mn-sec end-->

</div><!--wrapper end-->
